@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;

    
}
h2{
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}
div a{
    text-decoration: none;
    color: #333;
    
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end; /* aligns items to the right */
    flex-grow: 1; /* expands the navbar to fill available space */
  }
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }

#image {
    background-color: #fff;
    padding: 50px;
  }
  
  .image-container {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .image-container img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
header {
    background-color: #333;
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
  }
  
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
nav ul a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
  }

  p {
    max-width: 600px;
    padding: 10px;
    border: 1px solid black;
  }

  #about,
  #projects,
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

  .col-sm-6 {
    width: 50%;
}
.col-md-3 {
    width: 25%;
}

#projects {
    background-color: #f2f2f2;
    padding: 50px;
  }
  
  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .project {
    width: 30%;
    margin-bottom: 30px;
  }
  
  .project img {
    max-width: 100%;
  }
  
  .project h3 {
    margin-top: 10px;
  }
  
  .project p {
    font-size: 14px;
  }

  #contacts {
    background-color: #f2f2f2;
    padding: 50px;
  }
  
  #contacts h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  .contact-links {
    display: flex;
    justify-content: center;
  }
  
  .contact-links p {
    margin: 0 10px;
  }
  
  .contact-links a {
    color: #333;
    text-decoration: none;
  }
  
  .contact-links a:hover {
    color: #666;
  }

  /* add media queries here */
  @media only screen and (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1.2rem;
  }
  
  .image-container {
    width: 200px;
    height: 200px;
  }
  
  .col-sm-6, .col-md-3 {
    width: 100%;
  }
  
  .project {
    width: 45%;
  }
  
  .project-container {
    justify-content: space-around;
  }
  
  nav ul {
    justify-content: center;
  }
  
  nav ul li {
    display: block;
    margin: 10px 0;
  }
  
  .contact-links p {
    display: none;
  }
}